//colors
$off-black:#202220;
$off-white:#a5afd7;
$dark-blue:#333745;
$blue:#3c4251;
$light-blue:#464b5e;
$purple:#8757c5;

//spacing
$s-size:12px;
$m-size:25px;
$l-size:36px;
$xl-size:50px;

$desktop-breakpoint:40rem;